<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Faculty Landing Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <center>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/faculty/home/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/faculty/courselist/">View/Edit Course</a>
                </li>
                <li>
                    <a href="/faculty/mail/">Email</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Sidebar</a>

                        <!--Page content-->
                        
                        <h2>Welcome to Zmail</h2>
                        <p><a href="/faculty/mail/compose/">Compose mail</a></p>
                        <p><a href="/faculty/mail/inbox/">Inbox</a></p>
                        <p>Sent mail</p>
                        <table class="table">
                          <tr>
                            <th>Reciever</th>
                            <th>Mail Subject</th>    
                            <th>Show Details</th> 
                          </tr>
                          {% for mail in sent_mails_student %}
                          <tr>
                            <td>{{mail.studentID}}</td>
                            <td>{{mail.mailSubject}}</td>
                            <td><a href="/faculty/mail/sent/student/{{mail.mailID}}/">Show Mail</a></td>
                          </tr>
                          {%endfor%}
                          {% for mail in sent_mails_parent %}
                          <tr>
                            <td>{{mail.parentID}}</td>
                            <td>{{mail.mailSubject}}</td>
                            <td><a href="/faculty/mail/sent/parent/{{mail.mailID}}/">Show Mail</a></td>
                          </tr>
                          {%endfor%}
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</div>

</body>

</html>
